$color-primary: #2727F5;
$color-secondary: #001671;
$color-grey: #858688;
$color-active: #3B486D;
$color-white: #FFFFFF;
$color-black: #040404;
$light-grey: #F1F1F1;

$font-family-tajawal: 'Tajawal', sans-serif;

$font-size-base: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 1.875rem;
$font-size-base-lg: 2rem;
$font-size-big: 2.25rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$border-radius-small: 12px;
$border-radius-large: 40px;
$border-radius-round: 50%;
